*{
    margin: 0;
    padding: 0;
}
.head-color{
	color: #1d3557;
}
.sec-color{
	color: #457b9d;
}
.sec2-color{
	color: #06d6a0;
}
.sec3-color{
	color: #f1faee;
}
body {
	background-image: url('image/bg.jpg'); /* Replace 'your_image.jpg' with your image path */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	background-size: 100% 100vh;
  }
nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1; /* Ensure the nav bar stays on top */
}
ul {
	list-style-type: none;
	overflow: hidden;
  }
.sticky-header{
	background-color: #ffffff68;
	transition: background-color 1s ease;
}
.sticky-header.scrolled {
  background-color: #f1faee;
  color: white!important;
  
   /* New background color on scroll */
}
.main-navigation{
    min-height: 66px;
	display: inline-block;
	width: auto;
	margin-right: 8%;
}
.main-navigation li {
	position: relative;
	font-size: 25px;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 66px;
}
.main-navigation li.current a {
	color: #86B6F6;
}
.main-navigation li.current a::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80%;
	height: 3px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #86B6F6;
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation li.highlight a {
	color: #86B6F6;
	
}
.main-navigation li.with-sep a {
	position: relative;
	padding-left: 22px;
	margin-left: 8px;
}
.main-navigation li.with-sep a::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	margin-top: -10px;
	background-color: rgba(255, 255, 255, 0.2);
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* navigation links */
.main-navigation li a {
	display: block;
	padding: 18px 7px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	position: relative;
	-moz-transition: color 0.7 ease-in-out;
	-o-transition: color 0.7 ease-in-out;
	-webkit-transition: color 0.7 ease-in-out;
	-ms-transition: color 0.7 ease-in-out;
	transition: color 0.7 ease-in-out;
}
.main-navigation li a:active {
	background-color: transparent !important;
}
.main-navigation li a:hover {
	color: #a8dadc;
	filter: drop-shadow(2px 2px 5px rgba(43, 115, 143, 0.543));
	transition: 0.7s;
}
.logo a{
	text-decoration: none;
	font-size: 35px;
	display: block;
    padding: 18px 7px;
}
.logo{
	margin-left: 5%;
}
.head-main-div{
	display: flex;
	justify-content: space-between;
}
.active{
	background-color: white;
}
.container {
    max-width: 1200px;
    margin-left: 130px;
    padding-top: 25vh;
	height: 75vh;

}
.container-2{
	overflow: hidden;
	/* background-color: #92b5e156; */
	background-color: #e8f2fc;
	opacity: 0.8;
	color: #86B6F6;
	width: 600px;
	padding: 40px 0px;
	border-radius: 20px;
	text-align: center;
}
/* #4b8ee5 */
.centered-text {
	/* color: #306e8f; */
	color: #306e8f;
	font-size: 18px;
}
.btn{
	background-color: #4597cd;
	color: white;
	padding: 8px 15px;
	margin-top:15px;
	border-radius: 25px;
	font-size: 20px;
	border: 3px solid white;
	/* box-shadow:5px 5px 5px 2px rgb(0, 0, 0, 0.5); */
	transition: 1.1s;
}
.btn:hover{
	background-color: white;
	color: #4597cd;
	transition: 1.1s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.19);
}	
.head-text-div{
	text-align:center;
	padding-top: 30px;
	
}
.head-text-div h1{
	/* border:2px solid #06d6a0; */
	margin: auto;
	filter: drop-shadow(2px 2px 3px black);
	border-radius: 10px;

}
.our-services-div{
	margin-top: -3px;
	height: 100vh;
	background-image: url(image/bg2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	/* background-color: #e63947be; */
	font-size: 20px;
}
.color-div{
	background-color: #39c3e629;
	height: 100vh;
	backdrop-filter: blur(10px);
}
.card-main-div{
	max-width: 300px;
	min-height: 450px;
	background-image: url(image/card1.jpg);
	background-size: cover;
	margin: 3% auto;
}
.card-div{
	max-width: 300px;
	min-height: 450px;
	background-color: rgba(0, 0, 0, 0.091);
	position: relative;
}
.card-text-div{
	padding: 3%;
}
.card-text-div h1{
	/* color: #1d3557; */
	filter: drop-shadow(2px 2px 3px black);
	text-align: center;
}
.card-text-div p{
	color: #e63946;
	position: absolute;
	bottom: 0;
	background-color: #0000003e;
	text-align: center;
}
