*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: none!important;
}
.main-div{
    background-image: none;
    /* background-color: #ccd8e7; */
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background:  #cde6ff;
}
.head-main-div{
  background-color: #c7defb;
}
::selection{
  background: #fa4299;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #ccd8e7, #2d76ca);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%!important;
  width: 100%!important;
  outline: none!important;
  padding-left: 15px!important;
  border-radius: 5px!important;
  border: 1px solid lightgrey!important;
  border-bottom-width: 2px!important;
  font-size: 17px!important;
  transition: all 0.3s ease!important;
}
.form-inner form .field input:focus{
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #0d3265;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  padding: 0px!important;
  height: 50px !important;
  width: 100%!important;
  border-radius: 5px!important;
  position: relative!important;
  overflow: hidden!important;
  border: none!important;
}
form .btn .btn-layer{
  height: 100%!important;
  width: 300%!important;
  position: absolute!important;
  left: -100%!important;
  background: -webkit-linear-gradient(right, #ccd8e7, #2d76ca, #476592, #92a6e5)!important;
  border-radius: 5px!important;
  transition: all 0.4s ease!important;
}
form .btn:hover .btn-layer{
  left: 0;
  border: none!important;
}
form .btn input[type="submit"]{
  height: 100%!important;
  width: 100%!important;
  z-index: 1!important;
  position: relative!important;
  background: none!important;
  border: none!important;
  color: #fff!important;
  padding-left: 0!important;
  border-radius: 5px!important;
  font-size: 20px!important;
  font-weight: 500!important;
  cursor: pointer!important;
}

.container3{
    max-width: 1170px;
    margin:auto;    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #ccecf8;
    padding: 70px 0;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   
}
.footer-col h4{
    font-size: 25px;
    color: #150101;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #060436;
    text-decoration: none;
    font-weight: 300;
    color: #021242;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #0f0202;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #170707;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #0b0101;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


