.head-text-div{
    margin-top: 0%!important;
    padding-top: 6%;
}
hr{
    width: 100%;
    border-width: 0;
    height: 5px;
    position: fixed;
    background-color: #1d3557;
    margin-top: 5%;
}
.flex-box{
    margin-top:7px;
}
.flip-card {
    width: 23%;
    height: 400px;
    perspective: 1000px;
    margin: 50px;
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .flip-card-front {
    background: url('image/card1.jpg') center/cover;
  }

  .flip-card-back {
    background: rgba(0, 0, 0, 0.301);
    transform: rotateY(180deg);
    filter: blur(5px);
  }
  .color-blur-div{
    background: rgba(0, 0, 0, 0.301);
  }
  .card-text-div h1{
	/* color: #1d3557; */
	filter: drop-shadow(2px 2px black);
	text-align: center;
    position: absolute;
    margin-top: -46px;
    left: 70px;
    right: auto;
 }
.card-text-div{
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}